dist: xenial

language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9

env:
  - DJANGOVER=django22
  - DJANGOVER=django30
  - DJANGOVER=django31

matrix:
  exclude:
    - python: 3.5
      env: DJANGOVER=django30
    - python: 3.5
      env: DJANGOVER=django31

install:
  - pip install tox

script:
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.5' && $DJANGOVER ]]; then export TOX_ENV=py35-$DJANGOVER; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.6' && $DJANGOVER ]]; then export TOX_ENV=py36-$DJANGOVER; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.7' && $DJANGOVER ]]; then export TOX_ENV=py37-$DJANGOVER; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.8' && $DJANGOVER ]]; then export TOX_ENV=py38-$DJANGOVER; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.9' && $DJANGOVER ]]; then export TOX_ENV=py39-$DJANGOVER; fi"
  - tox -r -e "$TOX_ENV"
